:root {
    --sprite-area-side-lenght: 300px;
}
span {
    font-family: 'Roboto', sans-serif;
    line-height: normal;
}
#title {
    display: inline;
    margin: 0 0 0 0;
}
#sprite-area {
    width: var(--sprite-area-side-lenght);
    height: var(--sprite-area-side-lenght);
    position: relative;
}
#sprite-mask {
    width: var(--sprite-area-side-lenght);
    height: var(--sprite-area-side-lenght);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
#cell-border {
    position: absolute;
    border-style: dotted;
    border-color: crimson;
}
.pixelart {
    image-rendering: pixelated;
}